/* Переменные */
@import url(root.css);
/* Шрифт */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: url('../images/background-2.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  scroll-behavior: smooth;
}

/* Шапка */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--content-background);
}

nav ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
}

nav {
  font-size: 18px;
  font-weight: 500;
}

/* Шапка */
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 98%;
  margin-inline: auto;
}

/* nav + img-links */
.burger-open {
  display: none;
  justify-content: space-between;
  align-items: center;
}

.burger {
  display: none;
  position: relative;
  width: 40px;
  height: 28px;
}

.burger__line {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--text);
}

.burger__line:nth-child(1) {
  top: 0;
}
.burger__line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.burger__line:nth-child(3) {
  bottom: 0;
}

@media (max-width: 935px) {
  .header-wrapper .nav-link, .header-wrapper .img-links {
    display: none;
  }

  .burger-open {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--content-background);
    transform: translateX(100%);
    transition: var(--transition);
  }
  .burger-open.active {
    transform: translateX(0);
  }
  nav ul {
    font-size: 1.2em;
    line-height: 1.2em;
    flex-direction: column;
    align-items: center;
  }

  .img-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .burger {
    display: block;
  }
  .burger-close {
    position: absolute;
    z-index: 11;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
  }

  .close-line {
    display: block;
    position: absolute;
    top: 50%;
    height: 2px;
    width: 100%;
    background: var(--text);
  }
  .close-line:nth-child(1) {
    transform: translateY(-50%);
    transform: rotate(45deg);
  }
  .close-line:nth-child(2) {
    transform: translateY(-50%);
    transform: rotate(-45deg);
  }
}

/* Контент */
main {
  display: flex;
  flex-flow: column wrap;
  padding-top: 80px;
}

img {
  -webkit-user-drag: none;
}

/* Ссылка */
a {
  color: var(--text);
  text-decoration: none;
  transition: .4s;
}
a:hover {
  color: #656;
}

/* Кнопка */
button, .btn {
  padding: 10px 15px;
  border-radius: 4px;
  border: none;
  color: var(--text-button);
  background: var(--button);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  font-weight: 500;
  cursor: pointer;
  transition: var(--transition);
}
button:hover, .btn:hover {
  color: var(--text-button);
  background: var(--button-hover);
}

.logo img {
  width: 80px;
}

/* Иконка */
.icon {
  width: 50px;
  max-width: 50px;
}

/* Обратная связь */
.feedback {
  text-align: center;
  padding: 15px 0;
  border-radius: 0px;
  font-weight: bold;
}

/* Заголовок */
.big-title {
  padding: 2em .5em; 
  margin-top: 66px;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  color: var(--header);
  background: var(--content-background);
}

/* Описание */
.big-description {
  padding: 2em .5em;
  margin-top: 66px;
  font-size: 1.2em;
  text-align: center;
  background: var(--content-background);
}
.big-description p {
  max-width: 1200px; 
  margin-inline: auto;
}

@media (max-width: 768px) {
  .big-title {
    font-size: .8em;
  }
  .big-description {
    font-size: 1em;
  }
}
