.calendar {
  background-color: var(--bg-hover);
  border: 1px solid var(--primary-hover);
  border-radius: 30px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  font-size: var(--fs-550);
  font-family: cursive;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fs-600);
  font-weight: 600;
  color: var(--primary-hover);
  padding: 10px;
}

.calendar-body {
  padding: 10px;
}

.calendar-week-day {
  height: 50px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: 600;
}

.calendar-week-day div {
  display: grid;
  place-items: center;
  color: var(--text-gray);
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  color: var(--text-black);
}

.calendar-days div {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
  cursor: pointer;
  animation: to-top .8s forwards;
  border-radius: 50%;
}

.calendar-days div span {
  position: absolute;
}

.calendar-day-hover:hover,
.calendar-days div.curr-date:hover {
  color: var(--text-white);
  background: var(--primary-hover);
}

.calendar-days div.curr-date {
  background: var(--primary);
  color: var(--text-white);
}

.calendar-days div.curr-date span {
  display: none;
}

.month-picker {
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: .1s ease-in-out;
}

.month-picker:hover {
  color: var(--text-white);
  background: var(--primary-hover);
}

.year-picker {
  display: flex;
  align-items: center;
}

.year-change {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0 10px;
  cursor: pointer;
}

.year-change:hover {
  border: 3px solid var(--primary);
}

.month-list {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 5px;
  scale: 1.2;
  visibility: hidden;
  pointer-events: none;
  border-radius: 30px;
  background: var(--bg-hover);
  transition: 0.4s;
}

.month-list:hover {
  background: var(--bg-white);
}

.month-list.show {
  scale: 1;
  visibility: visible;
  pointer-events: visible;
  background: var(--bg-hover);
  transition: 0.4s ease-in-out;
}

.month-list>div {
  display: grid;
  place-items: center;
}

.month-list>div>div {
  width: 100%;
  padding: 5px 20px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  color: var(--text-black);
}

.month-list>div>div:hover {
  color: var(--text-white);
  background: var(--primary-hover);
}

@media screen and (max-width: 441px) {
  .wrapper[data-type="full"] {
    display: block;
  }

  .calendar {
    padding: 0;
    border-radius: 0;
    border-inline: 0;
  }

  .calendar-header,
  .calendar-body {
    padding-inline: 0;
  }

  .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, minmax(20px, 1fr));
    color: var(--text-black);
  }

  .month-list {
    border-radius: 0;
  }
}