@font-face {
  font-family: 'Inter Regular';
  src: url('../font/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter Medium';
  src: url('../font/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Inter SemiBold';
  src: url('../font/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Inter Bold';
  src: url('../font/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
}

:root {
  --purple-500: #595684;
  --purple-700: #3f3d5b;
  --gray-100: #f2f2f3;
  --gray-200: #cacaca;
  --gray-500: #808080;
  --white: #fff;
  --black: #000;
  --blue: #3042dc;
  --transition: .4s;
  --regular: 'Inter Regular';
  --medium: 'Inter Medium';
  --semibold: 'Inter SemiBold';
  --bold: 'Inter Bold';
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: var(--gray-100);
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */
.header {
  background: var(--purple-500);
  height: 56px;
}

/* Header wrapper */
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

/* 1. Header Logo */
.header__logo-link {
  padding-top: 0.3rem;
  padding-inline: 0.625rem;
  /* todo add pl.625r when device 1200px */
  padding-left: 0;
}

/* 2. Header Navigation */
.header__nav-list {
  display: flex;
  gap: 0.45625rem;
  list-style-type: none;
}

.header__nav-link {
  padding: 0.9375rem 0.45625rem;
  text-decoration: none;
  color: var(--gray-200);
  font-family: var(--medium);
  font-size: 0.9375rem;
  transition: var(--transition);
}

.header__nav-link:hover {
  color: var(--white);
}

/* 3. Header Links */
.header__links {
  display: flex;
  gap: 0.375rem;
}

.header__links-link {
  padding: 0.625rem;
  padding-bottom: 0.25rem;
}

.header__links-link:last-child {
  /* todo add pr.625r when device 1200px */
  padding-right: 0;
}

/* Burger menu - mobile devices */
.header__burger,
.header__burger-open {
  display: none;
}