/* Основные стили */
@import url(basic.css);

/* Стили, относящиеся только к этой странице */
.projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 76px;
  margin: 66px 0;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 15px;
  max-width: 400px;
  width: 100%;
  border-radius: 35px;
  background: var(--content-bg);
}
.project:nth-child(2) {
  height: 200px;
}

.project-title {
  font-size: 1.5em;
  margin-bottom: .2em;
}

.project-description {
  margin-bottom: 1em;
}

@media (max-width: 425px) {
  .projects {
    width: 100%;
  }
  .project {
    border-radius: 0px;
  }
  .project-title {
    font-size: 1.3em;
  }
}