@import url(basic.css);

.pas-line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 28px auto;
  background: var(--pas-line);
  height: 7px;
}
.pas-list {
  display: grid;
  grid-template-columns: repeat(3, auto); /* Three columns of equal width */
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-inline: auto;
  width: 95%;
}
.pas-btn {
  padding: 20px 60px;
  width: fit-content;
  font-weight: bold;
}

.join {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 61px;
  padding: 50px;
  border-radius: 50px;
  font-weight: 400;
  font-size: 1.2em;
  background: var(--content-bg);
}
.highlight {
  color: var(--link);
}
a.highlight {
  word-wrap: break-word;
  text-decoration: underline;
  transition: var(--transition);
}
a.highlight:hover {
  color: var(--link-hover);
}

@media (max-width: 1025px) {
  .join {
    padding: 50px 30px;
    border-radius: 0px;
  }
}
@media (max-width: 768px) {
  .join {
    font-size: .8em;
  }
}
@media (min-width: 620px) {
  .pas-line {
    width: 500px;
  }
}
@media (max-width: 620px) {
  .pas-line {
    width: 320px;
  }
  .pas-list {
    grid-template-columns: repeat(2, auto);
  }
}
@media (max-width: 426px) {
  .join {
    padding: 50px 5px;
  }
}
@media (max-width: 376px) {
  .pas-line {
    width: 250px;
  }
  .pas-btn {
    padding: 20px 40px;
  }
  .join {
    padding: 50px 0;
  }
}