@use "../utilities" as *;

// Element button

.button {
  padding: rem(14) rem(26);
  min-width: rem(137);
  @include fluid-text(24, 16);
  font-weight: 700;
  white-space: nowrap;
  cursor: pointer;
  border: none;
  border-radius: rem(12);
  text-decoration: none;
  color: $background;
  background: $accent;
  user-select: none;
  transition: $transition;

  @include laptop {
    min-width: rem(103);
    padding: rem(14) rem(20);
    border-radius: rem(8);
  }

  @include hover {
  }

  &.rounded {
    border-radius: rem(50);
  }

  & ~ & {
    margin-left: rem(52);
  }
}
