@use "../utilities" as *;

// Общие стили для тегов

body {
  @include fluid-text(18, 14);
  font-family: $ff;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

*::selection {
  color: $background;
  background: $primary;
}
