@use "../utilities" as *;
@use "sass:math";

// main page: sections
.hero {
  .title {
    display: flex;
    flex-direction: column;
    margin-top: rem(88);
    margin-bottom: rem(34);
    line-height: 116%;
  }

  .description {
    max-width: rem(623);
    margin-bottom: rem(81);
  }

  .hero-logo {
    position: absolute;
    top: calc(36px + 80px);
    right: 0;
    user-select: none;
    pointer-events: none;
    @include fluid-width(389, math.div(389, 3));
    @include fluid-height(667, math.div(667, 3));

    @include tablet {
      @include hide;
    }
  }
}
