// Переменные
$blue: #003087;
$white: #fff;
$black: #000;
$gray: #bcbec0;

$ff: "Montserrat", sans-serif;

$container-width: 1140px;
$container-padding-x: 20px;

$transparent-border: 1px solid transparent;
$drop-shadow: drop-shadow(0 0 0.4em $blue);
$box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);

$transition: 0.25s ease-in-out;
