/* Global styles */
@import url(../global.css);

/* Styles only for index.html */
.container {
  flex-direction: column;
  justify-content: space-between;
}

.text {
  max-width: 371px;
  margin-bottom: calc(1.3rem / 2);
}