/* Global styles */
@import url(../global.css);

/* Styles only for index.html */
.wrapper {
  align-items: start;
}

.container {
  flex-direction: column;
  justify-content: space-between;
}

.text {
  max-width: 371px;
}