@import url(../global.css);

/* Start of videos */
.container[data-type="videos"] {
  max-width: 75rem;
  flex-flow: row wrap;
  gap: 2.6rem;
  align-items: center;
  justify-content: center;
}

.container[data-type="videos"] iframe {
  max-width: 37.5rem;
}

@media screen and (max-width: 375px) {
  .container[data-type="videos"] iframe {
    max-width: 100%;
  }
}

/* End of videos */

/* Start of tasks */

/* ul */
.container[data-type="tasks"] .list {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  list-style-type: none
}

/* li */
.container[data-type="tasks"] .item {
  text-align: left;
  font-family: var(--ff-regular);
  font-size: var(--fs-400);
}

.container[data-type="tasks"] {
  max-width: calc(820px - 276px);
}

/* End of tasks */

/* Start of groups */

.container[data-type="groups"] {
  max-width: calc(754px - 137px);
}

.container[data-type="groups"]>.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
}

@media screen and (max-width: 540px) {
  .container[data-type="groups"]>.wrapper>.button {
    width: 100%;
    padding-block: 1.5rem;
  }
}

/* End of groups */

/* Files */
.container[data-type="files"] {
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 2.6rem;
}
.container[data-type="files"] .wrapper {
  margin: 0;
}

@media screen and (max-width: 326px) {
  .container[data-type="files"] {
    width: 100%;
  }

  .container[data-type="files"] .wrapper {
    flex-direction: column;
    align-items: start;
  }
}

/* files file */
.file {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
  transition: var(--transition);
}

/* files file img */
.file__icon {
  width: 32px;
  height: 40px;
}

/* files file fileinfo */
.file__info {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: var(--ff-regular);
  font-size: var(--fs-300);
}

/* files fileinfo a */
.file__link {
  color: var(--black-text);
  text-decoration: none;
}

.file:hover .file__link {
  text-decoration: underline;
}

/* files fileinfo p */
.file__text {
  color: var(--line);
}