@import url(../global.css);

.container {
  justify-content: start;
  gap: calc(1.3rem - .8rem);
  max-width: 500px;
}

@media screen and (max-width: 500px) {
  .container {
    border-radius: 0;
  }
}