@import url(../global.css);

.wrapper .container {
  max-width: 500px;
}

.container[data-type="buttons"] {
  gap: calc(1.3rem - .8rem);
  justify-content: start;
  padding: 2.6rem;
}


.container[data-type="buttons"] .button-link {
  padding-inline: .5rem;
}