@import url(../global.css);

.container[data-type="desc"] {
  max-width: 1200px;
}

.container[data-type="desc-2"] {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.container[data-type="links"] {
  gap: 2.6rem;
}

.items,
.list {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
}

.wrapper[data-type="competence"] {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: start;
  grid-auto-flow: row dense;
  margin-bottom: 0;
}

.container[data-type="competence"] {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  height: 100%;
  padding-bottom: calc(2.6rem + 1.3rem);
  border: 2px solid transparent;
  cursor: pointer;
  transition: var(--transition);
}

.container[data-type="competence"] .text {
  padding-bottom: 1.3rem;
}

.container[data-type="competence"] img {
  position: absolute;
  bottom: 22px;
  right: 8px;
  align-self: flex-end;
  transform: translateX(-20%);
  width: 60px;
  height: 26px;
  transition: var(--transition);
}

.container[data-type="competence"]:hover {
  border: 2px solid var(--line);
}

.container[data-type="competence"]:hover img {
  transform: translateX(0);
}

@media (max-width: 1440px) {
  .wrapper[data-type="competence"] {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1024px) {
  .wrapper[data-type="competence"] {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .wrapper[data-type="desc"] {
    width: 100%;
    margin: 0;
  }

  .container[data-type="desc"] {
    border-radius: 0;
  }

  .container[data-type="competence"] img {
    width: 40px;
    height: 20px;
  }
}

@media (max-width: 600px) {
  .wrapper[data-type="competence"] {
    grid-template-columns: repeat(1, 1fr);
  }
}