/* Checkbox */
.checkbox-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.checkbox-wrapper [type="checkbox"] {
  position: absolute;
  inset: 0;
  cursor: pointer;
  opacity: 0;
}

.checkbox-wrapper .fake-checkbox {
  display: grid;
  place-items: center;
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
  color: #fff;
  background: #fff;
  border: 2px solid hsl(243 21% 41%);
  border-radius: .4rem;
  transition: all 250ms ease-in-out;
}

.checkbox-wrapper [type="checkbox"]:checked+.fake-checkbox {
  background-color: hsl(243 21% 41%);
}

.checkbox-wrapper [type="checkbox"]:hover+.fake-checkbox {
  box-shadow: 0px 0px 0px 3px hsl(243 21% 41% / .5);
}

.checkbox-wrapper [type="checkbox"]:focus-visible+.fake-checkbox {
  box-shadow: 0px 0px 0px 2px white, 0px 0px 0px 5px hsl(243 21% 41%);
}