@use "../utilities/" as *;

.header {
  position: sticky;
  padding-block: 10px;
  width: 100%;
  box-shadow: $box-shadow;

  .container {
    display: flex;
    align-items: center;
    gap: rem(29);
  }

  .logo {
    width: rem(57);
    height: rem(59);
    user-select: none;
    cursor: pointer;
  }

  &__menu {
    @include flex-center;
    gap: rem(26);

    .menu__link {
      color: $primary;
      text-decoration: none;
      @include fluid-text(22, 14);
      font-weight: 500;
      white-space: nowrap;
    }
  }
}
